/* _content/task6/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-f2tm0r88gh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-f2tm0r88gh] {
  color: #0077cc;
}

.btn-primary[b-f2tm0r88gh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-f2tm0r88gh], .nav-pills .show > .nav-link[b-f2tm0r88gh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-f2tm0r88gh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-f2tm0r88gh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-f2tm0r88gh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-f2tm0r88gh] {
  font-size: 1rem;
  line-height: inherit;
}


@media (min-width: 1200px) {
  .container[b-f2tm0r88gh], .container-lg[b-f2tm0r88gh], .container-md[b-f2tm0r88gh], .container-sm[b-f2tm0r88gh], .container-xl[b-f2tm0r88gh] {
    max-width: none;
  }
}
@media (min-width: 992px) {
  .container[b-f2tm0r88gh], .container-lg[b-f2tm0r88gh], .container-md[b-f2tm0r88gh], .container-sm[b-f2tm0r88gh] {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .container[b-f2tm0r88gh], .container-md[b-f2tm0r88gh], .container-sm[b-f2tm0r88gh] {
    max-width: none;
  }
}
@media (min-width: 576px) {
  .container[b-f2tm0r88gh], .container-sm[b-f2tm0r88gh] {
    max-width: none;
  }
}
